@page
@{}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Issue Tracking Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:darkolivegreen">
    <div>
        <!-- Main Area where data will display-->
        <div class="container">
            <div class="row">
                <h1 style="text-align:center; font-family:Century; color:white;">Issue Tracking Database</h1>
            </div>
            <div class="row">
                <button class="btn btn-success" data-toggle="modal" data-target="#insertDetails">Insert Details</button>
            </div>
            <br />
            <div class="row" >
                <table class="table table-striped  table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Issue Description</th>
                            <th scope="col">Reporter Name</th>
                            <th scope="col">Reported Date</th>
                            <th scope="col">Assignee Name</th>
                        </tr>
                    </thead>
                    <tbody id="IssueTrackingSection">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- web form to insert the data-->
    <div class="modal" tabindex="-1" role="dialog" id="insertDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insert New Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="IssueDescription">Issue Description</label>
                            <input type="text" class="form-control" id="IssueDescription" aria-describedby="IssueDescriptionHelp">
                        </div>
                        <div class="form-group">
                            <label for="IssueReporterName">Reporter Name</label>
                            <input type="text" class="form-control" id="IssueReporterName" aria-describedby="IssueReporterNameHelp">
                        </div>
                        <div class="form-group">
                            <label for="IssueReportedDate">Reported Date</label>
                            <input type="datetime-local" class="form-control" id="IssueReportedDate" aria-describedby="IssueReportedDateHelp">
                        </div>

                        <div class="form-group">
                            <label for="IssueAssigneeName">Assignee Name</label>
                            <input type="text" class="form-control" id="IssueAssigneeName" aria-describedby="IssueAssigneeNameHelp">
                        </div>
                        <div class="form-group" id="result">
                        </div>
                        <button type="button" onclick="insert()" class="btn btn-danger">Insert</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- web form to update the data-->
    <div class="modal" tabindex="-1" role="dialog" id="UpdateDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="Edit_id" aria-describedby="Id_Help">
                        </div>
                        <div class="form-group">
                            <label for="Edit_IssueDescription">Issue Description</label>
                            <input type="text" class="form-control" id="Edit_IssueDescription" aria-describedby="Edit_IssueDescriptionHelp">
                        </div>
                        <div class="form-group">
                            <label for="Edit_IssueReporterName">Reporter Name</label>
                            <input type="text" class="form-control" id="Edit_IssueReporterName" aria-describedby="Edit_IssueReporterNameHelp">
                        </div>
                        <div class="form-group">
                            <label for="Edit_IssueReportedDate">Reported Date</label>
                            <input type="datetime-local" class="form-control" id="Edit_IssueReportedDate" aria-describedby="Edit_IssueReportedDateHelp">
                        </div>
                        <div class="form-group">
                            <label for="Edit_IssueAssigneeName">Assignee Name</label>
                            <input type="text" class="form-control" id="Edit_IssueAssigneeName" aria-describedby="Edit_IssueAssigneeNameHelp">
                        </div>
                        <div class="form-group" id="resultUpdate">
                        </div>
                        <button type="button" onclick="Update()" class="btn btn-danger">Update</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Files-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        var uri = 'api/IssueDetails';
        $(document).ready(function () {
            // Gets all data
            $.getJSON(uri).done(function (data) {
                $("#Main_temp").tmpl(data).appendTo("#IssueTrackingSection");
            });
        });
        function IssueTrackerData() {
            $.getJSON(uri).done(function (data) {
                $("#IssueTrackingSection").text("");
                $("#Main_temp").tmpl(data).appendTo("#IssueTrackingSection");
            });
        }
        //function to Insert Data
        function insert() {
            var _Issue_Description = $('#IssueDescription').val();
            var _Issue_Reporter_Name = $('#IssueReporterName').val();
            var _Issue_Reported_Date = $('#IssueReportedDate').val();
            var _Issue_Assignee_Name = $('#IssueAssigneeName').val();

            var IssueTracker_Object = {
                issue_Description: _Issue_Description,
                issue_Reporter_Name: _Issue_Reporter_Name,
                issue_Reported_Date: _Issue_Reported_Date,
                issue_Assignee_Name: _Issue_Assignee_Name
            };
            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(IssueTracker_Object),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Record inserted successfully");
                IssueTrackerData();
            }).fail(function (jqXHR, textStatus) {
                $("#result").html("Record is not inserted. There is an error");
            });
        }
           //function to Update Data
        function Update() {
            var _Issue_Description = $('#Edit_IssueDescription').val();
            var _Issue_Reporter_Name = $('#Edit_IssueReporterName').val();
            var _Issue_Reported_Date = $('#Edit_IssueReportedDate').val();
            var _Issue_Assignee_Name = $('#Edit_IssueAssigneeName').val();

            var IssueTrackerUpdate_Object = {
                id: parseInt($('#Edit_id').val()),
                issue_Description: _Issue_Description,
                issue_Reporter_Name: _Issue_Reporter_Name,
                issue_Reported_Date: _Issue_Reported_Date,
                issue_Assignee_Name: _Issue_Assignee_Name
            };
            $.ajax({
                type: "PUT",
                url: uri + "/" + $('#Edit_id').val(),
                data: JSON.stringify(IssueTrackerUpdate_Object),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Record updated successfully");
                IssueTrackerData();
            }).fail(function (jqXHR, textStatus) {
                $("#resultUpdate").html("Record is not inserted. There is an error");
            });
        }
        // function to remove record
        function remove(id) {
            var yes = confirm("Do you really want to delete this account?");
            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,
                }).done(function (response) {
                    IssueTrackerData();
                });
            }
        }
        //function to display data in update form
        function UpdateRecord(id) {
            $.ajax({
                type: "GET",
                url: uri + "/" + id,
                contentType: "application/json"
            }).done(function (response) {
                $('#Edit_id').val(response.id);
                $('#Edit_IssueDescription').val(response.issue_Description);
                $('#Edit_IssueReporterName').val(response.issue_Reporter_Name);
                $('#Edit_IssueReportedDate').val(response.issue_Reported_Date);
                $('#Edit_IssueAssigneeName').val(response.issue_Assignee_Name);
            });
        }

    </script>
    <!--Template to display data-->
    <script id="Main_temp" type="text/x-jquery-tmpl">
          <tr>
            <td>${issue_Description}</td>
            <td>${issue_Reporter_Name}</td>
            <td>${issue_Reported_Date}</td>
            <td>${issue_Assignee_Name}</td>
            <td><button class="btn btn-outline-danger" onclick="UpdateRecord('${id}')" data-toggle="modal" data-target="#UpdateDetails">Update</button></td>
            <td><a href="#" class="btn btn-outline-dark" onclick="remove('${id}')">Delete</a></td>
        </tr>
    </script>
</body>
</html>




